<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--
    Please create an entry in manager.conf:
    
    [username]
    secret=password
    write=originate
    -->
    <add key="asteriskIP"  value="127.0.0.1"/>
    <add key="asteriskPort"  value="5038"/>
    <add key="asteriskUser"  value="hector"/>
    <add key="asteriskPwd"  value="test"/>
    <!--  Modify for the context to be used to generate the call  -->
    <add key="Context"  value="outbound" />

  </appSettings>
  <connectionStrings>
    <add name="sqldbexternal" connectionString="Data Source=localhost;Initial Catalog=Asterisk;User ID=hector;password=holahector"
      providerName="System.Data.SqlClient" />
    <add name="sqldb" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Asterisk;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>